.field-card{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    border-radius:10px;
    margin-top: 25px;
}

.field-card:hover{
    border: 1px blue dashed;
}

.field-car-logo{
    border-radius:10px 0 0 10px;
    width: 5%;
    background-color: aqua;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}